<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.kaganndemirr.raytracing">

    <dist:module dist:instant="true" />

    <application>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kaganndemirr.triangle.TriangleActivity" />
        <activity android:name="com.kaganndemirr.sphere.SphereActivity" />
        <activity android:name="com.kaganndemirr.reflection.ReflectionActivity" />
        <activity android:name="com.kaganndemirr.transparency.TransparencyActivity" />
        <activity android:name="com.kaganndemirr.shadow.ShadowActivity" />
    </application>

</manifest>