<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.kaganndemirr.raytracing" xmlns:dist="http://schemas.android.com/apk/distribution" xmlns:android="http://schemas.android.com/apk/res/android">
    <dist:module dist:instant="true"/>
    <application>
        <activity android:name="com.kaganndemirr.raytracing.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.kaganndemirr.triangle.TriangleActivity"></activity>
        <activity android:name="com.kaganndemirr.sphere.SphereActivity"></activity>
        <activity android:name="com.kaganndemirr.reflection.ReflectionActivity"></activity>
        <activity android:name="com.kaganndemirr.transparency.TransparencyActivity"></activity>
        <activity android:name="com.kaganndemirr.shadow.ShadowActivity"></activity>
    </application>
</manifest>
