<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.kaganndemirr.raytracing">

    <dist:module dist:instant="true" />

    <application>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".triangle.TriangleActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".sphere.SphereActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".reflection.ReflectionActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".transparency.TransparencyActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".shadow.ShadowActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".refraction.RefractionActivity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>